<h1>Games currently available</h1>

<% games.forEach((game) => { %>
  <div>
    <a href="/games/<%= game.id %>"><%= game.createdBy.username %></a>
      <h2>Buy in: £<%= game.buyIn %></h2>
      <h2>Number of Players: <%= game.players %></h2>
      <h2>When: <%= game.date %></h2>
  </div>
<% }) %>
