<h1>Games currently available</h1>

<% games.forEach((game) => { %>
  <div class="row">
    <div class="col-md-8">
      <a href="games/<%= game.id %>"<p><strong>Hosted By: </strong><%= game.createdBy %></p>
      <p><strong>Buy in:</strong>£<%= game.buyIn %></p>
      <p><strong>Number of Players:</strong><%= game.players %></p>
      <p><strong>Seats remaining:</strong><%= game.seatsRemaining() %></p>
      <p><strong>When:</strong><%= game.date.toDateString() %></p>
      <p><strong>Time:</strong><%= game.time %></p>
      <hr>
    </div>
    <section id="location" class="col-md-4">
      <div class="indexMap" data-id="<%= game.id %>" data-lat=<%= game.latitude %> data-lng=<%= game.longitude %>></div></a>
    </section>
  </div>
<% }) %>
