<div class="row top">
  <section class="showMap topMap" id="location" class="col-md-8 col-sm-12">
    <div id="map" data-lat=<%= game.latitude %> data-lng=<%= game.longitude %>></div>
  </section>
  <section class="col-md-4 col-sm-12">
    <img class="profilePic" src="<%= game.createdBy.image %>" alt="Profile picture">
    <strong><p>Buy in:</strong> £<%= game.buyIn %></p>
    <strong><p>Number of Players:</strong> <%= game.players %></p>
    <strong><p>When:</strong> <%= game.date.toDateString() %></p>
    <strong><p>Seats Remaining:</strong> <%= game.seatsRemaining() %></p>
    <strong><p>More Info:</strong> <%= game.description %></p>

    <% if (game.createdBy.id === currentUser.id) { %>
      <form method="POST" action="/games/<%= game.id %>/delete">
        <input type="hidden" name="_method" value="DELETE">
        <div class="row">
        <button class="btn btn-danger col-md-12">Delete Game</button>
        </div>
      </form>
    <% } %>

    <% if(locals.isAuthenticated && game.seatsRemaining() > 0 && !game.userIsAttending(currentUser) && game.createdBy.id !== currentUser.id) { %>
      <form method="POST" action="/games/<%= game.id %>/attend">
        <input type="hidden" name="_method" value="<%= currentUser.username %>">
        <div class="row container">
        <button class="btn btn-success attend col-md-12">Attend</button>
        </div>
      </form>
    <% } %>
  </section>
</div>

<div class="row">
  <section class="col-md-8 col-sm-12">

    <% if (locals.isAuthenticated && game.createdBy.id !== currentUser.id ) { %>
      <section>
        <form method="POST" action="/games/<%= game.id %>/comments">
          <textarea name="content" id="content" placeholder="Ask any questions here"></textarea>
          <button class="btn btn-primary ask">Ask a Question</button>
        </form>
      </section>
    <% } %>

    <h4>Previous Questions</h4>
    <% game.comments.forEach((comment) => { %>
      <p><%= comment.content %> - <small><%= comment.createdBy.username %></small></p>
      <% if(comment.reply) { %>
        <p><%= comment.reply %> - <small><%= game.createdBy.username %></small></p>
      <% } %>


      <% if (locals.isAuthenticated && game.createdBy.id === currentUser.id && !comment.ownedBy(currentUser) ) { %>
          <form method="POST" action="/games/<%= game.id %>/comments/<%= comment.id %>">
            <input type="hidden" name="_method" value="PUT">
            <textarea name="reply" id="reply" placeholder="Reply to <%= comment.createdBy.username %>'s question here"></textarea>
            <button class="btn btn-primary reply">Reply</button>
          </form>
      <% } %>

      <% if (locals.isAuthenticated && comment.ownedBy(currentUser)) { %>

        <form method="POST" action="/games/<%= game.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn btn-danger">Delete Comment</button>
        </form>
      <% } %>
    <% }) %>
  </section>
  <section class="col-md-4 col-sm-12">
    <h4>Already Attending</h4>
    <% game.going.forEach((going) => { %>
      <a class="btn btn-info" href="/users/<%= going.id %>"><%= going.username %></a>
    <% }) %>
  </section>
</div>
