<div class="row">
  <div class="col-lg-12 showInfo">
    <h2>Buy in: £<%= game.buyIn %></h2>
    <h2>Number of Players: <%= game.players %></h2>
    <h2>When: <%= game.date %></h2>
    <h2>Seats Remaining: <%= game.seatsRemaining() %></h2>
    <h2>More Info: <%= game.description %></h2>
    <section id="location">
      <div id="map" data-lat=<%= game.latitude %> data-lng=<%= game.longitude %>></div>
    </section>
  </div>
</div>

<% if(locals.isAuthenticated && game.seatsRemaining() > 0 && !game.userIsAttending(currentUser) && game.createdBy.id !== currentUser.id) { %>
  <form method="POST" action="/games/<%= game.id %>/attend">
    <input type="hidden" name="_method" value="<%= currentUser.username %>">
    <button class="btn btn-success attend">Attend</button>
  </form>
<% } %>

<% if (game.createdBy.id === currentUser.id) { %>

<form method="POST" action="/games/<%= game.id %>/delete">
  <input type="hidden" name="_method" value="DELETE">
  <button class="btn btn-danger">Delete Game</button>
</form>
<% } %>

<section class="col-lg-12">
  <h4>Already Attending</h4>
  <% game.going.forEach((going) => { %>
    <a class="btn btn-info" href="/users/<%= going.id %>"><%= going.username %></a>
  <% }) %>
</section>

<% if (locals.isAuthenticated && game.createdBy.id !== currentUser.id ) { %>
  <section>
    <form method="POST" action="/games/<%= game.id %>/comments">
      <textarea name="content" id="content" placeholder="Ask any questions here"></textarea>
      <button class="button">Ask a Question</button>
    </form>
  </section>
<% } %>

<section>
  <h4>Previous Questions</h4>
  <% game.comments.forEach((comment) => { %>
    <p><%= comment.content %> - <small><%= comment.createdBy.username %></small></p
    <% if(comment.reply) { %>
      <p><%= comment.reply %> - <small><%= game.createdBy.username %></small></p>
    <% } %>


    <% if (locals.isAuthenticated && game.createdBy.id === currentUser.id && !comment.ownedBy(currentUser) ) { %>
        <form method="POST" action="/games/<%= game.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="PUT">
          <textarea name="reply" id="reply" placeholder="Reply to <%= comment.createdBy.username %>'s question here"></textarea>
          <button class="btn btn-primary">Reply</button>
        </form>
    <% } %>

    <% if (locals.isAuthenticated && comment.ownedBy(currentUser)) { %>

    <form method="POST" action="/games/<%= game.id %>/comments/<%= comment.id %>">
      <input type="hidden" name="_method" value="DELETE">
      <button>Delete Comment</button>
    </form>
    <% } %>
  <% }) %>
</section>
