<div>
  <h2><%= game.name %></h2>

  <%# Use google maps to show location of game %>

  <div>
    <a href="/games/<%= game.id %>/attend">Put User Name Here</a>
      <h2>Buy in: £<%= game.buyIn %></h2>
      <h2>Number of Players: <%= game.players %></h2>
      <h2>When: <%= game.date %></h2>
      <h2>Seats Remaining: <%= game.players %></h2>
      <h2>More Info: <%= game.description %></h2>

      <button class="button">Attend</button>
  </div>

  <% if(locals.isAuthenticated) { %>
    <section>
      <form method="POST" action="/games/<%= game.id %>/attend">
        <textarea name="question" id="question" placeholder="Ask any questions here"></textarea>
        <button class="button">Ask a Question</button>
      </form>
    </section>
  <% } %>
</div>
