<div class="row top">
  <section id="location" class="col-md-8 col-sm-12">
    <div class="topMap" id="map" data-lat=<%= game.latitude %> data-lng=<%= game.longitude %>></div>
  </section>
  <section class="col-md-4 col-sm-12">
    <p><img class="infoImage" src="../assets/images/money.png" alt="buy-in"><strong>Buy in:</strong> £<%= game.buyIn %></p><hr class="gameIndex-hr">
    <p><img class="infoImage" src="../assets/images/players.png" alt="players"><strong>Number of Players:</strong> <%= game.players %></p><hr class="gameIndex-hr">
    <p><img class="infoImage" src="../assets/images/seats.png" alt="seats remaining"><strong>Seats remaining:</strong> <%= game.seatsRemaining() %></p><hr class="gameIndex-hr">
    <p><img class="infoImage" src="../assets/images/calendar.png" alt="calendar"><strong>When:</strong> <%= game.date.toDateString() %></p><hr class="gameIndex-hr">
    <p><img class="infoImage" src="../assets/images/clock.png" alt="clock"><strong>Time:</strong> <%= game.time %></p><hr class="gameIndex-hr">
    <p class="hostedByGameShow"><a href="/users/<%= game.createdBy.id %>"><strong><%= game.createdBy.username %></strong></a></p><hr class="gameIndex-hr">

    <% if (game.createdBy.id === currentUser.id) { %>
      <form method="POST" action="/games/<%= game.id %>/delete">
        <input type="hidden" name="_method" value="DELETE">
        <div class="row">
        <button class="btn deleteButton gameDeleteOrAttend">Delete Game</button>
        </div>
      </form>
    <% } %>

    <% if(locals.isAuthenticated && game.seatsRemaining() > 0 && !game.userIsAttending(currentUser) && game.createdBy.id !== currentUser.id) { %>
      <form method="POST" action="/games/<%= game.id %>/attend">
        <input type="hidden" name="_method" value="<%= currentUser.username %>">
        <div class="row container">
        <button class="btn mainBtn gameDeleteOrAttend">Attend</button>
        </div>
      </form>
    <% } %>
  </section>
</div>

<div class="row">
  <div class="col-md-12 gameDescription">
    <p><%= game.description %></p>
  </div>
</div>

<div class="row bottom">
  <section class="col-md-6 col-sm-12">
    <h4>Previous Questions</h4>
    <% game.comments.forEach((comment) => { %>
      <p><%= comment.content %> - <small><%= comment.createdBy.username %></small></p>
      <% if(comment.reply) { %>
        <p><%= comment.reply %> - <small><%= game.createdBy.username %></small></p>
      <% } %>


      <% if (locals.isAuthenticated && game.createdBy.id === currentUser.id && !comment.ownedBy(currentUser) ) { %>
          <form method="POST" action="/games/<%= game.id %>/comments/<%= comment.id %>">
            <input type="hidden" name="_method" value="PUT">
            <textarea name="reply" id="reply" placeholder="Reply to <%= comment.createdBy.username %>'s question here"></textarea>
            <button class="btn btn-primary reply">Reply</button>
          </form>
      <% } %>

      <% if (locals.isAuthenticated && comment.ownedBy(currentUser)) { %>

        <form method="POST" action="/games/<%= game.id %>/comments/<%= comment.id %>">
          <input type="hidden" name="_method" value="DELETE">
          <button class="btn deleteButton">Delete Comment</button>
        </form>
      <% } %>
    <% }) %>

    <% if (locals.isAuthenticated && game.createdBy.id !== currentUser.id ) { %>
      <section>
        <form method="POST" action="/games/<%= game.id %>/comments">
          <textarea class="questionBox" name="content" id="content" placeholder="Ask any questions here..."></textarea>
          <button class="btn mainBtn ask">Ask a Question</button>
        </form>
      </section>
    <% } %>
  </section>
  <section class="col-md-6 col-sm-12">
    <h4>Already Attending</h4>
    <% game.going.forEach((going) => { %>
      <a class="btn mainBtn" href="/users/<%= going.id %>"><%= going.username %></a>
    <% }) %>
  </section>
</div>
